.spinner {
  display: flex;
  justify-content: center;
}
.step1,
.step2,
.step3 {
  width: 10px;
  height: 10px;
  margin: 0 10px;
  border-radius: 100%;
  background: dodgerblue;
  display: inline-block;
  animation: bouncedelay 1.3s infinite ease-in-out;
  animation-fill-mode: both;
}
.spinner div:first-child {
  animation-delay: -0.32s;
}
.spinner div:nth-child(2) {
  animation-delay: -0.16s;
}
@keyframes bouncedelay {
  0%,
  80%,
  100% {
    opacity: 0.1;
  }
  40% {
    opacity: 1;
  }
}
